<div class="flex md:justify-end my-4">
  
  {{ partial "share-buttons.html" . }} 
  {{- $editMap := partial "get-edit-url" . }} 
  {{- if or .Site.Params.repoEditURL $editMap.repoEditURL }} 
  {{- $contentDir := cond .Site.IsMultiLingual .Site.Params.contentDir "/content/" }} 
  {{- $filePath := ""}} 
  {{- if $editMap.fileDir }} 
    {{- $filePath = strings.TrimPrefix $editMap.fileDir .File.Path }} 
  {{- else }} 
    {{- $filePath = path.Join $contentDir .File.Path }} 
  {{- end }} 
  {{- $repoEditURL := cond (ne $editMap.repoEditURL "") $editMap.repoEditURL .Site.Params.repoEditURL }} 
  {{- $path := path.Join $repoEditURL $filePath }} 
  {{- $path = replace $path "http:/" "http://" 1 }} 
  {{- $path = replace $path "https:/" "https://" 1 }}
    <a href="{{ $path }}" title="Edit this page">
        <i class="fas fa-edit mr-1"></i>
    </a>
{{- end }} 
{{ define "partials/get-edit-url" }} 
{{ $repoEditURL := "" }} 
{{ $fileDir := "" }} 
{{ $bundles := partial "utils/get-bundles" . }} 
{{ range $bundles.Reverse }} 
{{ if .Params.repoEditURL }} 
  {{ $repoEditURL = .Params.repoEditURL }} 
  {{ $fileDir = .File.Dir }} 
{{ end }} 
{{ end }} 
{{ return (dict "repoEditURL" $repoEditURL "fileDir" $fileDir) }} 
{{ end }}

</div>