<p>
    <a href="https://visitedplaces.com/view/?map=world&projection=geoMercator&theme=dark-green&water=1&graticule=0&names=1&duration=2000&placeduration=100&slider=0&autoplay=1&autozoom=none&autostep=0&home=FR&places=~{{ range $.Site.Data.countries.visited.countries }}{{ . }}_{{ end }}">
        {{ len $.Site.Data.countries.visited.countries }} countries visited
    </a>
</p>

<!-- VisitedPlaces.com code -->
<script>
    // VisitedPlaces.com code
    var visitedplaces_config = {
      "map": "world",
      "projection": "geoMercator",
      "theme": "dark-green",
      "water": 1,
      "graticule": 0,
      "names": 1,
      "duration": 2000,
      "slider": 0,
      "autoplay": 1,
      "autozoom": "none",
      "data": [
        {
          "colors": {},
          "places": 
            {{ $.Site.Data.countries.visited.countries }} 
        }
      ],
      "home": "FR"
    };
    </script>
    <div id="chartdiv" style="width: 100%; height: 300px;">
    <script src="https://www.visitedplaces.com/js/common.js"></script>
    <script src="https://www.visitedplaces.com/js/viewer.js"></script>
    <!-- end: VisitedPlaces.com code -->
    